Markdown==2.5.2
pelican==3.5.0
beautifulsoup4==4.3.2
html5lib==0.999
pelican-fontawesome==0.1.0
pelican-readtime==0.1.1
pelican-related==0.1
pelican-social==0.1.1
pelican-extended-sitemap==1.0.1
pelicanfly==0.4.2
lxml==3.4.1
ghp-import==0.4.1

